body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("header6.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

#box1{
  position: relative;
  top: 100px;
  left: 200px;
  font-size: x-large;

}
